@page "/"

<PageTitle>Index</PageTitle>

<MudSimpleTable Hover="true" Style="overflow-x: auto;">
    <thead>
        <tr>
            <td>Title</td>
            <td>Description</td>
            <td>Initial Weight</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.InitialWeight</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>